/******** GLOBAL ********/

/* prevents overflow caused by margins/padding & co */
* {
  box-sizing: border-box;
}

/* defaulting texte apparence  */
body,
ul,
p,
h1,
h2,
h3 {
  font-size: 1rem;
  line-height: 1;
}

/* defaulting layout  */
body {
  width: 100%;
  margin: 0 auto;
  background-color: #f9fafb;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 130%;
  padding-bottom: 50px;
  letter-spacing: -0.02em;
  color: #374151;
}

.text-center {
  text-align: center;
}

.text-max-w-500 {
  max-width: 500px;
}

.text-max-w-800 {
  max-width: 800px;
}

.margin-auto-center {
  margin: 0 auto;
}

.padding-top-80 {
  padding-top: 80px;
}

.text-white {
  color: #f9fafb;
}

h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #374151;
  padding-left: 13px;
}

h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 256%;
  letter-spacing: -0.02em;
  color: #374151;
  padding: auto 13px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 142%;
  letter-spacing: -0.02em;
  padding: auto 13px;
  color: #6b7280;
}

link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #059669;
}

label {
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  line-height: 165%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #6b7280;
  margin-top: 1.5em;
  font-weight: 500;
}

.primary {
  color: white;
  background-color: #059669;
  border: none;
  border-radius: 6px;
  padding: 1em 0;
  width: 200px;
  margin-bottom: 1em;
  font-weight: 600;
}

.primary a {
  text-decoration: none;
  color: #f9fafb;
}

.secondary {
  color: #6b7280;
  background-color: transparent;
  border: 1px solid #6b7280;
  border-radius: 6px;
  padding: 0.5em 0 0.5em 0;
}

/* partie logo */
.logo-container {
  align-self: center;
}
.logo {
  color: #059669;
  font-style: italic;
  font-size: 17px;
  padding: 0.7em 0 0 0.3em;
}
.logo em {
  font-weight: bolder;
}
.logo span {
  opacity: 0.5;
}

/******** HEADER ********/

/**** BARRE NAV****/

/*** nav container ***/
nav {
  border-bottom: solid 2px #e5e7eb;
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
}
.logo-container {
  display: flex;
}
.logo-container img {
  width: 40px;
}
/* partie navigation */
.navigation {
  display: none;
}

/* partie burger-btn */
.burger-btn {
  align-self: center;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

.menu-btn-burger {
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(5px);
}
.menu-btn-burger::after {
  transform: translateY(-5px);
}
/* partie .primary-btn */
nav .primary-btn-container {
  display: none;
}
/******* MAIN SECTION ********/

.main-section {
  padding: 0 1em;
}

/**** HERO - INDEX ****/

.hero-container {
  border-bottom: solid 2px #e5e7eb;
  padding-bottom: 5em;
}
.hero-container h1 span {
  color: #059669;
}
.hero-text {
  padding: 0 1em;
}
.hero-text p {
  padding: 1em 0;
}
.hero-text button {
  width: 100%;
}
.hero-img {
  display: none;
}

/******** CARD LIEU ********/
.place1 {
  max-width: 100%;
  padding: 0 13px;
}

.picturesPlace-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.place1 img {
  max-width: 100%;
  border-radius: 8px;
}

.infoUtile img {
  width: 20px;
  height: 20px;
}

/******** FOOTER ********/
/******** begin FOOTER ********/
footer {
  display: grid;
  justify-content: center;
  grid-template-columns: 20em;
  gap: 10px;
  background-color: #F3F4F6;
  border: 1px solid #E5E7EB;
}
footer a {
  text-decoration: none;
}
footer a:visited {
  color: inherit;
}

#footer-step1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0em;
  margin-top: 5em;
}
#footer-step1 .logo-container {
  font-size: 2.2em;
  margin:0;
}
#footer-step1 .logo-container .logo {
  margin:0;
}
#footer-step1 p {
  font-size: 0.84em;
  padding: 0em;
}
#footer-step2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0em;
  margin-top: 2em;
  text-align: center;
}
#footer-step2 button {
  width: 17em;
  padding: 0.8em;
  font-size: 1.2em;
  margin-bottom: 0.6em;
}
#footer-step3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;

  text-align: center;
  margin-top: 4em;
}
#footer-step3-links {
  font-size: 1.7em;
}
#footer-step3-links a {
  display: block;
  font-family: "Inter", sans-serif;
  color: #4b5563;
  font-size: 0.75em;
  margin-bottom: 1.5em;
}

#footer-step3-links .green-link {
  color: #059669;
}
#footer-step3 a.github-icon {
  color: transparent;
  background: url("./github-icon-32px.png") no-repeat center;
  font-size: 1.2em;
  margin-top: 2em;
}
#footer-bottom {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  margin-bottom:3em;
}

#footer-bottom .copyright {
  color: #9CA3AF;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}
#footer-bottom .copyright-link {
  color: #9CA3AF;
  font-size: 0.65em;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}

/******** end FOOTER ********/

.h4-category-card {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  color: #374151;
  text-align: left;
  margin-bottom: 15px;
}

.para-category-card {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  color: #6b7280;
  text-align: left;
  margin-bottom: 15px;
}

.card-category-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.mini-label-category {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 130%;
  color: #6b7280;
  text-align: left;
}

.h4-category-card {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  color: #374151;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
}

.para-category-card {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  color: #6b7280;
  text-align: left;
  margin-bottom: 15px;
}

.mini-label-category {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  color: #6b7280;
  text-align: left;
}

.link-category-card {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: underline;
  line-height: 130%;
  color: #059669;
  text-align: right;
}

/******** FORM PAGE ********/
.form-container {
  padding: 2em;
}
.text-part {
  padding-bottom: 2em;
}
.text-part h1,
p {
  margin: 0;
}
.form-part {
  padding: 0 1em;
}

input,
textarea {
  width: 100%;
  margin-top: 0.1em;
  border-radius: 5px;
  border: solid 1px #9ca3af;
  padding: 0.4em 0.5em;
}
textarea {
  height: 100px;
  margin-bottom: 0.8em;
}
form #submit {
  width: 100%;
}

// CATEGORY GRID - INDEX

.category-grid-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 706px;
}

.card-category {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  min-height: auto;
  border: solid 1px #f3f4f6;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-category-header {
  width: 100%;
  height: 120px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  background-position: center;
}

.card-category-body {
  width: 85%;
  height: 40%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.card-category-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.section-about {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  width: 100%;
  background-color: #059669;
}

.primary-white {
  background-color: #f9fafb;
  display: inline-block;
  max-width: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin: 30px auto;
  font-family: Inter;
  font-weight: 500;
  color: #059669;
}
/*********************** RESPONSIVE ************************/

@media screen and (min-width: 726px) {
  /******** HEADER ********/

  h3 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 171%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #374151;
  }

  .navigation {
    display: flex;
    padding: 1em;
  }
  .navigation a {
    text-decoration: none;
    margin: auto;
    margin-right: 1em;
    font-size: 18px;
    font-weight: 600;
    color: #4b5563;
    font-family: "Inter", sans-serif;
  }
  .navigation a span {
    color: #059669;
    margin-right: 0;
  }

  .burger-btn {
    display: none;
  }
  nav .primary-btn-container {
    display: flex;
    padding: 1em;
  }
  nav .primary {
    padding: 0.5em 0;
    margin: 0;
    text-decoration: none;
    color: #f9fafb;
  }

  /******* MAIN SECTION ********/

  /**** HERO - INDEX ****/
  .hero-container {
    display: flex;
    padding-bottom: 0;
    width: 100%;
    min-height : 80vh;
  }
  
  .hero-text {
    padding: 0 7em 8em 2em;
    width: 50%;
  }
  .hero-text .primary {
    width: 200px;
  }
  .hero-text h1 {
    padding: 2em 0 0 0;
    margin: 0;
  }
  .hero-text p {
    margin: 0;
    padding-right: 6em;
  }
  .hero-img {
    width: 100%;
    display: flex;
    background-image: url("./img/dragon.jpg");
    background-size: cover;
  }

  /**** CATEGORY - INDEX ****/
  .section-category {
    justify-items: center;
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

 /**********Card category**********/

  .category-grid-wrapper {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px 15px;
    flex-wrap: wrap;
  }


  .card-category {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    min-height: 450px;
    border: solid 1px #f3f4f6;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .card-category-header {
    width: 100%;
    height: 40%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-position: center;
  }

  .card-category-body {
    width: 85%;
    height: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .card-category-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .section-about {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-color: #059669;
  }

  .primary-white {
    background-color: #f9fafb;
    display: inline-block;
    max-width: 200px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin: 30px auto;
    font-family: Inter;
    font-weight: 500;
    color: #059669;
  }
  /******** FORM PAGE ********/

  /**********Card lieu**********/

  .place1 {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 30px 30px;
    flex-wrap: wrap;
  }

  .picturesPlace-container {
    grid-area: 1 / 1 / 4 / 2;
    margin: 0;
    padding: 0;
  }

  .infoUtile {
    display: inline-flex;
    margin: 0;
    padding: 0;
    padding-bottom: 15%;
    gap: 50px;
  }

  .placeName {
    margin: 0;
    padding: 0;
    padding-top: 10%;
  }

  .form-container {
    padding: 2em 15em;
  }
  .form-container .text-part {
    text-align: center;
  }
  .form-container .form-part {
    padding: 3em 10em;
  }
  textarea {
    height: 150px;

  }
  /******** FORM PAGE ********/


/**********Card lieu**********/

.place1 {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0fr);
  gap: 30px 30px;
  flex-wrap: wrap;
}

.picturesPlace-container {
  grid-area: 1 / 1 / 4 / 2;
  margin: 0;
  padding: 0;
}

.infoUtile {
  display : inline-flex;
  margin :0;
  padding: 0;
  padding-bottom: 15%;
  gap : 50px;
}

.placeName {
  margin : 0;
  padding : 0;
  padding-top: 10%;
}


  .form-container {
    padding: 2em 15em;
  }
  .form-container .text-part {
    text-align: center;
  }
  .form-container .form-part {
    padding: 3em 10em;
  }
  textarea {
    height: 150px;
  }

/******** begin FOOTER desktop ********/
footer {
  display: grid;
  grid-template-columns: 18em auto auto;
  justify-content: space-between;
  gap: 1em;
  background-color: #F3F4F6;
  border: 1px solid #E5E7EB;
  padding-top: 3.7em;
}
footer a {
  text-decoration: none;
}
footer a:visited {
  color: inherit;
}
#footer-step1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 0em;
  margin-left: 3em;
  margin-top: 0;
}
#footer-step1 .logo-container {
  font-size: 1.65em;
  margin:0;

}
#footer-step1 span {
  font-weight: bold;

}
#footer-step1 .logo-container .logo {
  margin:0;
}
#footer-step1 p {
  font-size: 0.8em;
  padding: 0em;
  margin-top: 0.8em;
  line-height: 1.2em;
  width: 19em;
}
#footer-step2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 0em;
  margin:0;
  margin-right: 3em;
  margin-top: 0;
 
}
#footer-step2 button {
  width: 12em;
  padding: 0.6em;
  font-size: 1em;
  margin-bottom: 0.6em;
}
#footer-step3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  margin-top: 0;

}
#footer-step3-links {
  font-size: 1.7em;

}
#footer-step3-links a {
  display: inline-block;
  padding-left:1.1em;
  padding-right:1.1em;
  font-size: 0.65em;
}
#footer-step3-links .green-link {
}
#footer-step3 a.github-icon {
  background: url("./github-icon-32px.png") no-repeat center;
  font-size: 1.3em;
  margin-top: 0em;
  margin-bottom: 0em;
}
#footer-bottom {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  margin-bottom:1em;
}
#footer-bottom .copyright {
  font-size: 0.65em;
  margin-bottom: 0.5em;
  margin-top:0em;
}
#footer-bottom .copyright-link {
  font-family: "Inter", sans-serif;
  color: #9CA3AF;
  font-size: 0.65em;
  text-decoration: underline;
}
/******** end FOOTER desktop ********/

}

