/* 
CSS defaulting global fixes
*/

/* prevents overflow caused by margins/padding & co */
* {
  box-sizing: border-box; 
}

/* defaulting texte apparence  */
body, ul, p, h1, h2, h3 {
    font-size: 1rem;
    line-height: 1;
  }

/* defaulting layout  */
body {
  margin: 0 auto;
  max-width: 50em; /* max-width realistic */
}

h1{
  font-family: 'Manrope', sans-serif;
  font-style : normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: calc(42*0.03)px;
  margin : 10% 5%;
}

h2{
  font-family: 'Manrope', sans-serif;
  font-style : normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: calc(42*0.03)px;
  margin : 10% 5%;
}

p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style : normal;
  font-size : 22px;
  line-height: 142%;
  letter-spacing: calc(22*0.02)px;
  margin : auto 5%;
  color : #6B7280;
}

.autrement {
  color : #059669;
}