/******** GLOBAL ********/

/* prevents overflow caused by margins/padding & co */
* {
  box-sizing: border-box;
}

/* defaulting texte apparence  */
body,
ul,
p,
h1,
h2,
h3 {
  font-size: 1rem;
  line-height: 1;
}

/* defaulting layout  */
body {
  width: 100%;
  margin: 0 auto;
  max-width: 50em; /* max-width realistic */
  background-color: #f9fafb;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: calc(42 * 0.03) px;
  padding: 10% 5%;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: calc(42 * 0.03) px;
  padding: 10% 5%;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 142%;
  letter-spacing: calc(22 * 0.02) px;
  padding: auto 5%;
  color: #6b7280;
}

/* partie logo */
.logo {
  color: #059669;
  font-style: italic;
  font-size: 17px;
}
.logo em {
  font-weight: bolder;
}
.logo span {
  opacity: 0.5;
}

/******** BARRE NAV ********/

/*** nav container ***/
nav {
  border-bottom: solid;
  border-color: #e5e7eb;
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1em;
}

/* partie navigation */
.naviguation {
  display: none;
}

/* partie burger-btn */
.burger-btn {
  align-self: center;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

.menu-btn-burger {
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(5px);
}
.menu-btn-burger::after {
  transform: translateY(-5px);
}
.classic-btn-container {
  display: none;
}
/******* HERO SECTION ********/

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heroSection,
.heroCategory {
  border-bottom: 1px solid #e5e7eb;
}

.heroSection h1 span {
  color: #059669;
}

/******* RESPONSIVE ********/

@media screen and (min-width: 500px) {
  .naviguation {
    display: flex;
    padding: 1em;
  }
  .naviguation a {
    text-decoration: none;
    margin: auto;
    margin-right: 1em;
    font-size: 18px;
    font-weight: 600;
    color: #4b5563;
    font-family: "Inter", sans-serif;
  }
  .naviguation a span {
    color: #059669;
    margin-right: 0;
  }
  .burger-btn {
    display: none;
  }
  .classic-btn-container {
    display: flex;
    padding: 1em;
  }
  .classic-btn {
    background-color: #059669;
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
  }
}
